.App {
  text-align: center;
}

body {
  font-family: "PT Sans", serif;
}

.button-style {
  background-color: #DB0D4B;
  border: 0;
  width: 100%;
}

.button-style:hover {
  background-color: #DB0D4B;
  border: 0;
}

