.App {
  text-align: center;
}

body {
  font-family: "PT Sans", serif;
}

.button-style {
  background-color: #DB0D4B;
  border: 0;
  width: 100%;
}

.button-style:hover {
  background-color: #DB0D4B;
  border: 0;
}

.logo {
  color: #DB0D4B;
}

.logo img {
  border: 2px solid #DB0D4B;
  border-radius: 10px;
  max-width: 75px;
  max-height: 75px;
}

.logo span {
  margin-left: 65px;
  font-size: 18px;
  position: relative;
  bottom: 30px;
}

.logout {
  color: #999999;
  float: right;
  cursor: pointer;
  border: 1px solid #999999;
  padding: 5px;
  border-radius: 10px;
}

.logout svg {
  margin-left: 5px;
}