.donation-list {
    padding: 10px 30px 0 30px;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.donation-list h5 {
    margin: 0 0 20px 0;
    font-size: 24px;
    font-weight: 600;
}

.list-header {
    background: #edecec;
    border-bottom: 2px solid #aeaeae;
    margin-top: 20px;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

.list-content {
    border-bottom: 1px solid #aeaeae;
    padding: 10px 0;
    line-height: 32px;
    font-size: 14px;
}

.list-content div {
    word-wrap: break-word;
}

.update-button {
    margin-right: 10px;
    background: white;
    border: 0;
    color: black;
    padding: 0;
}

.update-button:hover {
    background: white;
    color: black;
    padding: 0;
}

.delete-button {
    background: white;
    color: red;
    border: 0;
    padding: 0;
}

.delete-button:hover {
    background: white;
    color: red;
    padding: 0;
}

svg {
    width: 18px;
    height: 18px;
}
.scroll-content {
    width: 100%;
    float: left;
    overflow-y: scroll;
    height: -moz-calc(100% - (20px + 80px));
    height: -webkit-calc(100% - (20px + 80px));
    height: calc(100% - (20px + 80px));
    display:block
}